@import '_variables';
@import '_mixins';
//controles
	.n-controls{
		display: block;
		position: absolute;
		width: 7em;
		height: 7em;
		z-index: 1000;
		top: 50%;
		margin-top: -3.5em;
		cursor: hand;
		cursor: pointer;
		&.izq {
			@include border(solid, $paleta1, 3px, 0, 0, 3px);
			@include rotate(-45deg);
			left: 4%;
		}
		&.der{
			@include border(solid, $paleta1, 0, 3px, 3px, 0);
			@include rotate(-45deg);
			right: 4%;
		}
	}
	.slidecontent{
		overflow: hidden;
	}
	.slide{
		float:left;
		display: none;
	}

	.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}